<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bryan Heder Node Index</title>
</head>
<body>
    <p><a href="./week09">Week 09</a></p>
    <p><a href="./week10">Week 10</a></p>
</body>
</html>